USE [master]
GO
/****** Object:  Database [db_llk]    Script Date: 20/06/07 17:46:09 ******/
CREATE DATABASE [db_llk]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_llk', FILENAME = N'D:\Program Files (x86)\SQLSERVER\MSSQL13.SQLEXPRESS\MSSQL\DATA\db_llk.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_llk_log', FILENAME = N'D:\Program Files (x86)\SQLSERVER\MSSQL13.SQLEXPRESS\MSSQL\DATA\db_llk_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_llk].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_llk]
GO
USE [db_llk]
GO
/****** Object:  Table [dbo].[games]    Script Date: 20/06/07 17:46:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[模式] [char](10) NOT NULL,
	[邮箱] [char](10) NOT NULL,
	[分数] [bigint] NOT NULL,
 CONSTRAINT [PK_games] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 20/06/07 17:46:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[邮箱] [char](10) NOT NULL,
	[用户名] [char](10) NOT NULL,
	[最高分] [bigint] NOT NULL,
	[密码] [char](10) NOT NULL,
	[盘数] [bigint] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[邮箱] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [FK_games_users] FOREIGN KEY([邮箱])
REFERENCES [dbo].[users] ([邮箱])
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [FK_games_users]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [CK_games] CHECK  (([模式]='简单' OR [模式]='普通' OR [模式]='困难' OR [模式]='地狱'))
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [CK_games]
GO
USE [master]
GO
